
<h1>New User</h1>

<form action = '/users/create' method = 'post'>
<input name="authenticity_token" value = "<%= form_authenticity_token %>" type="hidden">
  <p><label for = "email">Email: </label>
    <input type = "text" id = "email" name = "Email"></p>
  <p><label for = "name">Name: </label>
    <input type = "text" id = "name" name = "Name"></p>
  <p><label for = "password">Password: </label>
    <input type = "text" id = "password" name = "Password"></p>
  <p><label for = "password_confirmation">Confirm Password: </label>
    <input type = "text" id = "password_confirmation" name = "Password_Confirmation"></p>
  <p><button type = "submit">Join</button></p>
</form>

<%if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>

<%if flash[:error] %>
  <% flash[:error].each do |error|%>
    </p><%= error %></p>
  <% end %>
<% end %>
